body{
  font-family: 'Poppins';
}
.context img{
  width: 720px;
}
.context{
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found{
 position: relative;
 top:-110px;
 font-size: 80px;
 font-weight: 700;
 word-spacing: 5px;
 color: #20135B;
 left: 10px;
}
.message{
  margin-top: -130px;
  font-size: 18px;
  word-spacing: 0px;
  text-align: center;
}
button{
  width: 200px;
  padding: 10px;
  background-color: #233874;
  color: white;
  border: none;
  border-radius: 8px;
}