  .notif-content{
    margin: 140px 60px;
  }

  .row-1{
    display: flex;
    justify-content: space-between;
  }
  .filter-dropdown select{
    width: 150px;
  }
  .mark-read{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .notif{
    margin: 10px auto;
    width: 1300px;
    height: 150px;
    background-color: #F6FCFE;
    padding: 20px;
    border-radius: 10px;
    border: solid 0.2px rgb(5, 7, 64);
  }
  .notif-row-1{
    display: flex;
    gap: 20px;
  }
  .notif-row-1 img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }
  .right{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .right h4 {
    border-right: #000 solid 2px;
    padding-right: 15px;
  }
  .right-row{
    display: flex;
    gap: 15px;
 
    margin-top: 8px;
  }
  .right-row p{
    font-size: 12px;
  }
  .store-name{
    display: flex;
  }
  .time{
    display: flex;
  }
  .desc{
    width: 800px;
    height: 25px;
  }
  .more-info{
    padding: 5px 15px;
    background-color: #8DB2FF;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .row-2{
    display: flex;
    justify-content: space-between;
  }