
  .profile-content{
    margin-top: 150px;
    width: 100%;
    height: fit-content;
    padding: 0px 50px;
  }
  .row-1{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
  }
  .row-1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .left{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .right{
    line-height: 30px;
    font-weight: 600;
    margin-top: -40px;
  }
  .right p{
    font-size: 18px;
  }
  .right a{
    padding: 5px 30px;
    background-color: #77A4FF;
    color: white;
    border-radius: 5px;
  }
  .row-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .row-2 img{
    width: 300px;
  }
  .datas{
    width: 800px;
    height: 320px;
    background-color: white;
    box-shadow: .1vh .1vh .5vh #5874af77;
    padding: 20px;
    line-height: 35px;
    border-radius: 5px;
  }
  .datas p:first-child{
    font-weight: 500;
  }
  .first-name, .last-name,.email,.phone,.address{
    display: flex;
    font-size: 18px;
  }
  .first-name p:first-child{
    margin-right: 100px;

  }
  .last-name p:first-child{
    margin-right: 102px;
  }
  .email p:first-child{
    margin-right: 143px;
  }
  .phone p:first-child{
    margin-right: 63px;
  }
  .address p:first-child{
    margin-right: 122px;
  }
  
  footer {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    align-items: center;
    background-color: #1C3879;
    height: 50px;
    color: rgba(255, 255, 255, 0.508);
    position: relative;
    bottom: 0;
  }
  
  