.pict{
  width: 350px;
  margin: -100px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}



.edit-profile-content{
  margin: 150px auto 0px;
  width: 90%;
  height: 550px;
  background-color: white;
  box-shadow: .1vh .1vh .5vh #5874af77;
  padding: 40px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.left-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buat-gambar{
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
  background-color: #000000;
}
.first-name,.last-name,.email,.phone,.address{
  display: flex;
}
.first-name p{
  margin-right: 100px;
}
.last-name p{
  margin-right: 101.5px;
}
.email p{
  margin-right: 138px;
}
.phone p{
  margin-right: 68.5px;
}
.address p{
  margin-right: 120px;
}
.right-row{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-row input{
  width: 620px;
  padding: 10px;
  border: 0.5px solid black;
}
.right-row button{
  width: 180px;
  margin-left: 615px;
  border-radius: 5px;
  background-color: #77A4FF;
  padding: 10px;
  font-weight: 600;
  color: white;
  border: none;
}
textarea{
  padding: 10px;
}