.menu-setting {
  background-color: #ECF3FE;
}

.contents{
    margin-left: 350px;
}
.sub-content {
    display: flex;
    gap: 25px;
    width: 1050px;
    border-bottom: 1px solid black;
    margin: 20px 30px;
    padding: 10px;
}

.sub-content a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.sub-content a:nth-child(2){
  color: #5874af;
}

.card-store {
  width: 100%;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 7px;
  padding: 20px 30px;
}

.header-cards {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(189, 189, 189);
}

.header-cards i{
  font-size: 25px;
}

.header-cards p{
  margin: 0;
  font-size: 23px;
  font-weight: 600;
}

.store-name,
.desc {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.row1 .col1 label,
.row1 .col2 p{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Quicksand';
}

.store-name input{
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 15px;
}

.desc textarea {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.row2{
  border-top: 1px solid rgb(189, 189, 189);
  margin-top: 20px;
}

.row1,
.content-row2 {
  display: flex;
  justify-content: space-between;
}

.col1,
.col2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.store-profile p{
  margin: 0;
}

.input-file{
  width: 90%;
  height: 225px;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 7px;
}

.col1 iconify-icon,
.col2 iconify-icon{
  font-size: 30px;
}

.col1 label{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 140px;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Quicksand';
}

.col2 label {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 160px;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Quicksand';
}

.content-row2 input{
  width: 320px;
  border-radius: 5px;
  font-size: 14px;
  padding: 0px 10px;
  font-family: 'Quicksand';
}

.instagram,
.gmail,
.linkedin,
.cv{
  display: flex;
}

.btn-save {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  padding: 0px 45px;
}

.btn-save button{
  width: 100px;
  height: 30px;
  border: none;
  background-color: #5874af;
  color: #fff;
  font-weight: 600;
  font-family: 'Quicksand';
  border-radius: 5px;
}