.contents{
    width: 800px;
    height: 350px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(151, 151, 151, 0.477);
    margin: 200px auto 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img{
    width: 200px;
    height: 100px;

}
.contents a{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #233874;
    border: none;
    color: white;
    font-weight: 600;
}